{% extends "base.html" %} {% block title %}CHAPTERS{% endblock %} 
{% block content %}

<style>
   body {
            background-image: url("https://images7.alphacoders.com/452/452136.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            background-attachment: fixed;
        height: 100vh; /* Ensures the background color covers the full height of the viewport */
   }
    
  </style>
  
<link rel="stylesheet" href="/static/chap.css">
<p> hi there!</p>
{%for i in range(n)%}
<form method="post" class="read-it">

    <div class="click-to-read">

        <p class="text">{{title[i]}}</p>
    <input type="submit", value="click here" , name={{link[i]}}>
    
    </div>

</form>
<br>
{%endfor%}

{% endblock %}

