{% extends "base.html" %} {% block title %}HOME{% endblock %} {% block content
    %}
    

    <h2>ENJOY READING!!!</h2><br>
    <h2> START READING MANGA CLICK ON <font color="red"><u>READ MANGA </u></font>BUTTON ABOVE</h2>
    <br>
    <p> CREDITS- AKSHAT PORWAL</p>
    <img src="https://wallpaperaccess.com/full/10836.jpg" width="1000" height="1000"> 
    <br>
    <p> Ypu might encounter some essues while reading manga with large number of chapters. <br> <font color="red">We are working on solving this error.</font></p>


{% endblock %}
