{% extends "base.html" %} {% block title %}RESULTS{% endblock %} 
{% block content %}
<style>
  body {
      background-image: url("https://wallpapercave.com/wp/wp5247220.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      background-attachment: fixed;
  }
</style>


    <form method="POST">
        <h3 align="center">Search</h3>
        <div class="form-group">
          <label for="search">Search your favourite anime</label>
          <input
            type="text"
            class="form-control"
            id="search"
            name="search"
            placeholder="SEARCH"
          />
        </div>
        <br />
    <button type="submit"  class="btn btn-primary">Search</button>
        </form>

{% endblock %}
