.read-it {
    /* Make the form inline-block so we can style it */
    display: inline-block;
  }
  
  .click-to-read {
    /* Style the container div */
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer; /* Change cursor to a pointing hand */
  }
  
  .click-to-read input[type="submit"] {
    /* Style the submit button */
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 16px;
    /* Blue text color */
    text-decoration: underline;
    text-underline-offset: 2px; /* Add some space between the text and the underline */
    cursor: pointer; /* Change cursor to a pointing hand */
  }
  
  .click-to-read input[type="submit"]:hover {
    /* Add a hover effect */
    background-color: #f0f0f0; /* Light gray background */
     /* Keep the text blue */
    text-decoration: underline;
    
  }
  .click-to-read input[type="submit"] {
    width: auto; /* Make the input field width adjust to its content */
  min-width: 0; /* Remove any minimum width constraint */
  padding: 10px; /* Add some padding to make the input field look like a button */
  overflow: visible; /* Make sure the entire value field is visible */
  white-space: nowrap; /* Prevent the value field from wrapping to a new line */
  text-overflow: clip;
    
  }

  .text{
  color: #0000ff; /* or blue */
  font-weight: bold;
  };